In [174]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import LabelEncoder

from collections import Counter

from gensim.models import Word2Vec
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')  # Download tokenizer

ModuleNotFoundError: No module named 'gensim'

In [171]:
# Path to the file
def read_file(file_path):

    # Read the Excel file into a DataFrame
    df = pd.read_excel(file_path)
    print("Size:", df.shape)
    
    # Display the first few rows of the DataFrame
    # print(df.head())
    return df

def handle_missing_data(df):
    # print(df.isnull().sum())
    
    # Impute numerical columns with mean 
    
    df['runtime_in_minutes'] = df['runtime_in_minutes'].fillna(df['runtime_in_minutes'].mean())
    df['audience_rating'] = df['audience_rating'].fillna(df['audience_rating'].mean())
    
    # Impute categorical columns with a placeholder (e.g., 'Unknown')
    # df['genre'] = df['genre'].fillna('Unknown')
    df['movie_info'] = df['movie_info'].fillna('Unknown')
    df['critics_consensus'] = df['critics_consensus'].fillna('Unknown')
    # df['directors'] = df['directors'].fillna('Unknown')
    # df['writers'] = df['writers'].fillna('Unknown')
    # df['cast'] = df['cast'].fillna('Unknown')
    # df['studio_name'] = df['studio_name'].fillna('Unknown')
    
    # print(df.isnull().sum())  
    return df

In [172]:
def one_hot_encode(df,col):
    df = pd.get_dummies(df, columns=[col], dtype=int)
    return df

def label_encode(df,col):
    label_encoder = LabelEncoder()
    df[col] = df[col].astype(str)
    df[col+'_encode'] = label_encoder.fit_transform(df[col])
    return df

def frequency_encode(df,col):
    # Calculate Frequency
    counts = df[col].value_counts()
    
    # Replace with Frequency
    df[col+'_Frequency'] = df[col].map(counts)
    df = df.drop(col, axis=1)
    return df
    
def data_processing(df):

    # Rating --------------------------------------------
    value_counts = df['rating'].value_counts()
    # print("Value counts:\n", value_counts)
    
    df['rating'] = df['rating'].replace('PG-13)', 'PG-13')
    df['rating'] = df['rating'].replace('R)', 'R')
    
    # value_counts = df['rating'].value_counts()
    # print("Value counts:\n", value_counts)
    
    df = one_hot_encode(df,'rating')

    # Genre ---------------------------------------------------------------

    # Split genres into lists
    # df['genre_split'] = df['genre'].apply(lambda x: x.split(', '))
    # print(df.head())
    
    # Flatten the list of genres
    # all_genres = [genre for sublist in df['genre_split'] for genre in sublist]
    
    # # Count unique values and their frequencies
    # genre_count = Counter(all_genres)
    
    # # Print the result
    # print("Unique Genres and Their Counts:")
    # for genre, count in genre_count.items():
    #     print(f"{genre}: {count}")
        
    # # Step 2: Apply MultiLabelBinarizer
    # mlb = MultiLabelBinarizer()
    # genre_encoded = pd.DataFrame(mlb.fit_transform(df['genre_split']), columns=mlb.classes_)
    
    # # # Step 3: Combine with the original DataFrame
    # df = pd.concat([df.drop('genre_split', axis=1), genre_encoded], axis=1)
    # df = df.drop('Unknown', axis=1)
    df = frequency_encode(df, 'genre')
    # Directors ---------------------------------------------------------
    df = frequency_encode(df, 'directors')
    # Writers ------------------------------------------------------------
    df = frequency_encode(df, 'writers')
    # Cast ----------------------------------------------------------------
    df = frequency_encode(df, 'cast')
    
    # studio name -------------------------------------------------------
    df = frequency_encode(df,'studio_name')
    
    # tomatometer status ------------------------------------------------
    df = one_hot_encode(df,'tomatometer_status')
    
    # release date -------------------------------------------------------
    # Convert to datetime format
    df['in_theaters_date'] = pd.to_datetime(df['in_theaters_date'], errors='coerce')
    df['on_streaming_date'] = pd.to_datetime(df['on_streaming_date'], errors='coerce')
    
    # Handle missing values
    median_in_theaters_date = df['in_theaters_date'].median()
    median_on_streaming_date = df['on_streaming_date'].median()
    
    df['in_theaters_date'].fillna(median_in_theaters_date, inplace=True)
    df['on_streaming_date'].fillna(median_on_streaming_date, inplace=True)
    
    # Feature extraction from 'in_theaters_date'
    df['in_theaters_year'] = df['in_theaters_date'].dt.year
    df['in_theaters_month'] = df['in_theaters_date'].dt.month
    df['in_theaters_day'] = df['in_theaters_date'].dt.day
    df['in_theaters_weekday'] = df['in_theaters_date'].dt.weekday  # 0 = Monday, 6 = Sunday
    df['in_theaters_is_weekend'] = df['in_theaters_weekday'].apply(lambda x: 1 if x >= 5 else 0)
    
    # Feature extraction from 'on_streaming_date'
    df['on_streaming_year'] = df['on_streaming_date'].dt.year
    df['on_streaming_month'] = df['on_streaming_date'].dt.month
    df['on_streaming_day'] = df['on_streaming_date'].dt.day
    df['on_streaming_weekday'] = df['on_streaming_date'].dt.weekday
    df['on_streaming_is_weekend'] = df['on_streaming_weekday'].apply(lambda x: 1 if x >= 5 else 0)
    
    # Calculate time difference between 'in_theaters_date' and 'on_streaming_date'
    df['days_between'] = (df['on_streaming_date'] - df['in_theaters_date']).dt.days
    df = df.drop('on_streaming_date', axis=1)
    df = df.drop('in_theaters_date', axis=1)
    
    return df

In [173]:
df = read_file("Rotten_Tomatoes_Movies3.xls")
df = handle_missing_data(df)
df = data_processing(df)

print("\nColumn Names:")
print(df.columns)
print(df.shape)

Size: (16638, 16)

Column Names:
Index(['movie_title', 'movie_info', 'critics_consensus', 'runtime_in_minutes',
       'tomatometer_rating', 'tomatometer_count', 'audience_rating',
       'rating_G', 'rating_NC17', 'rating_NR', 'rating_PG', 'rating_PG-13',
       'rating_R', 'genre_Frequency', 'directors_Frequency',
       'writers_Frequency', 'cast_Frequency', 'studio_name_Frequency',
       'tomatometer_status_Certified Fresh', 'tomatometer_status_Fresh',
       'tomatometer_status_Rotten', 'in_theaters_year', 'in_theaters_month',
       'in_theaters_day', 'in_theaters_weekday', 'in_theaters_is_weekend',
       'on_streaming_year', 'on_streaming_month', 'on_streaming_day',
       'on_streaming_weekday', 'on_streaming_is_weekend', 'days_between'],
      dtype='object')
(16638, 32)

C:\Users\Shano\AppData\Local\Temp\ipykernel_17324\1514252787.py:81: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['in_theaters_date'].fillna(median_in_theaters_date, inplace=True)
C:\Users\Shano\AppData\Local\Temp\ipykernel_17324\1514252787.py:82: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['on_streaming_date'].fillna(median_on_streaming_date, inplace=True)

In [67]:
# Step 1: Convert 'rating' (e.g., 'P', 'G', 'R') to numeric values
rating_map = {
    'P': 1,  # For example, 'P' could be mapped to 1 (for "Parental Guidance")
    'G': 2,  # 'G' mapped to 2 (for "General Audience")
    'R': 3,  # 'R' mapped to 3 (for "Restricted")
    'NR': 4,
    'PG-13' :   5,
    'PG'    :   6,
    'NC17' : 7
    # Add other categories if needed, such as 'PG-13' or 'NC-17'
}

# Map the ratings to the new numeric values
df['rating_numeric'] = df['rating'].map(rating_map)

# Step 2: Calculate the correlation with 'audience_rating' (which is between 0-100)
correlation = df[['rating_numeric', 'audience_rating']].corr(method='pearson')

# Print the correlation
print("Correlation between rating and audience_rating:")
print(correlation)

Correlation between rating and audience_rating:
                 rating_numeric  audience_rating
rating_numeric         1.000000         0.052895
audience_rating        0.052895         1.000000

In [74]:
from sklearn.preprocessing import MultiLabelBinarizer
from collections import Counter
# Step 1: Split genres into lists
df['genre_split'] = df['genre'].apply(lambda x: x.split(', '))
# print(df.head())

# # Step 2: Flatten the list of genres
# all_genres = [genre for sublist in df['genre_split'] for genre in sublist]

# # Step 3: Count unique values and their frequencies
# genre_count = Counter(all_genres)

# # Print the result
# print("Unique Genres and Their Counts:")
# for genre, count in genre_count.items():
#     print(f"{genre}: {count}")
    
# # Step 2: Apply MultiLabelBinarizer
mlb = MultiLabelBinarizer()
genre_encoded = pd.DataFrame(mlb.fit_transform(df['genre_split']), columns=mlb.classes_)

# # Step 3: Combine with the original DataFrame
df_encoded = pd.concat([df.drop('genre_split', axis=1), genre_encoded], axis=1)

# Step 2: Calculate the correlation matrix
correlation_matrix = df_encoded.corr(method='pearson')

# Step 3: Extract correlation with 'audience_rating'
correlation_with_audience = correlation_matrix['audience_rating'].drop('audience_rating')  # Drop self-correlation

# Step 4: Print the correlation values
print("Correlation between genres and audience_rating:")
print(correlation_with_audience)

# Optional: Visualize the correlation using a bar plot
correlation_with_audience.plot(kind='bar', figsize=(10, 6))
plt.title('Correlation between Genres and Audience Rating')
plt.ylabel('Pearson Correlation')
plt.xlabel('Genre')
plt.show()

ValueError: could not convert string to float: 'Percy Jackson & the Olympians: The Lightning Thief'

In [33]:
df_encoded.head()

,movie_title,movie_info,critics_consensus,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,...,Kids & Family,Musical & Performing Arts,Mystery & Suspense,Romance,Science Fiction & Fantasy,Special Interest,Sports & Fitness,Television,Unknown,Western
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12 00:00:00,2010-06-29 00:00:00,83.0,...,0,0,0,0,1,0,0,0,0,0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30 00:00:00,2010-10-19 00:00:00,90.0,...,0,0,0,0,0,0,0,0,0,0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,Unknown,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05 00:00:00,1997-08-27 00:00:00,118.0,...,0,0,0,1,0,0,0,0,0,0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13 00:00:00,2001-03-06 00:00:00,95.0,...,0,0,0,0,0,0,0,0,0,0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...","Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01 00:00:00,2003-05-20 00:00:00,127.0,...,1,0,0,0,0,0,0,0,0,0

In [42]:
value_counts = df['writers'].value_counts()
print("Value counts:\n", value_counts)

Value counts:
 writers
Woody Allen       33
Neil Simon        19
Werner Herzog     19
Tyler Perry       19
Ingmar Bergman    18
                  ..
Nader Rizq         1
Marc Rosenbush     1
Vladan Nikolic     1
Tariq Tapa         1
Jac Schaeffer      1
Name: count, Length: 12121, dtype: int64